<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cosc.bandfanapp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".BfsApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.RegisterActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".ui.CreateBandActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".ui.CreateBandMemberActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".ui.ListBandsActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.ReadBandMembersActivity"
            android:label="@string/app_name" />

        <meta-data
            android:name="DATABASE"
            android:value="bfs.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.cosc" />
    </application>

</manifest>
